/* your code */
#t1{
	border-top-left-radius:5px;
}
#t2{
	border-top-right-radius:5px;
}
#t3{
	border-bottom-left-radius:5px;
}
#t4{
	border-bottom-right-radius:5px;
}
.odd{
	background-color:rgb(210, 210, 212)
}
tr,td,th{
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
}